<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delf</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Delf_WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/imagesPage/Logo.jpg" alt="Logo" style="width: 80px; margin-right: 10px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Articulos" asp-action="Index">Artículos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Viajantes" asp-action="Index">Viajantes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Pedidos" asp-action="Create">Nuevo pedido</a>
                                </li>
                            </ul>
                            <li class="nav-item">
                                <a class="nav-link" id="logout" asp-controller="Usuarios" asp-action="Logout">Cerrar Sesión</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Usuarios" asp-action="Login">
                                    <img src="~/img/icons/user-solid (1).svg" alt="Logo" class="icono-secion">
                                    Iniciar Sesión
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted mt-auto py-3">
        <div class="container text-center">
            &copy; 2024 - Delf Filtros de Aire -
            Creado por Madoery Matias.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

